#header {
  margin-left: 10px ;
  font-size: 30px ;
 } 

ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    width: 15%;
    background-color: #ffffff;
    height: 50%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

#content {
  width: 850px ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 10px ;
}

#sectionheads {
  font-size: 18px ;  
}

#indentp {
  padding-left: 50pt;
  padding-right: 50pt;
}

#changelog {
  font-size: 13px ;
}

#copyright {
  font-size: 10px ;
  
}